.navbar {
  background-color: #999999;
  font-size: 1.5em;
  color: #FFFFFF;
}
.navbar-nav li {
  display: inline-block;
  list-style: none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0% 1% 0% 0%;
}
.navbar-nav li a {
  text-decoration: none;
  color: #FFFFFF;
}
.navbar-nav li a:hover {
  color: #ADAEAE;
}
#header button {
 color: #FFFFFF; 
}

#top {
  background-color: #666666;
  border-bottom: solid #FFFFFF 1px;
  max-width: 100%;
  padding: 5%;
}

.centerName {
  color: #FFFFFF;
  text-align: center;
  margin: 5%;
}

#bottom {
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #336699;
  color: #1E96BE;
}
.buttons {
 text-align: center; 
}

.bottomName {
  text-align: center;
}
.contact {
  margin: 0% 3% 0% 3%;
}
.fa {
  padding: 5% 0% 0% 5%;
  font-size: 3em;
}

.img-profile {
  border: solid #FFFFFF 3px;
  float: right;
}

#chaffey a {
  text-decoration: none;
}

#poly a {
 text-decoration: none; 
}

.info {
  color: #FFFFFF;
}

.intro {
  color: #FFFFFF;
}

.podcast {
 background-color: #DDDDDD;
  min-width: 300px;
  min-height: 300px;
}

.photograph {
  background-color: #BBBBBB;
  min-width: 300px;
  min-height: 300px;
}

.interest {
  background-color: #000000;
  min-width: 300px;
  min-height: 300px;
}

.unit {
  background color: #FFFFFF;
  min-width: 150px;
  min-height: 150px;
}

body {
  position: relative;
  background-color: #5BD6D1;
  width: 100%;
  font-family: "Helvetica";
  color: #FFFFFF;
  font-size: 1.5em;
}

#footer {
  background-color: #999999;
  color: #FFFFFF;
  padding: 1%;
}




