@import url('https://fonts.googleapis.com/css?family=Libre+Baskervill|eOpen+Sans|Oswald|Oxygen|Ubuntu');

.navbar {
 font-family: "Ubuntu", sans-serif;
 background-color: #556d7c;
 font-size: 1.5em;
}
.navbar-default {
    background: #556d7c;
    background: -webkit-linear-gradient(#556d7c, #404040); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#556d7c, #404040); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#556d7c, #404040); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#556d7c, #404040); /* Standard syntax */
    border-radius: 0;
    border-color: #404040;
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: #404040;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
}

.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    color: #FFF;
    
}

.navbar-default .navbar-toggle .icon-bar {
    color: #FFF;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
 background-color: #556d7c;
 color: #FFF;
 text-align: center;
}

.navbar-collapse {
 text-align: center;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #e7e7e7;
   color: #000;
 }

#top {
  overflow: hidden;
}

.index { 
 background-size: cover;
 background-repeat: no-repeat;
 overflow: hidden; 
 z-index: -1;
}

.index img {
 z-index: -99;
 width: 100%;
 position: absolute;
}

#introduction hr {
  padding: 0;
  margin-bottom: 0px;
  border: none; 
  height: 5px;
  background-color: #fee822;
  bottom: 0;
}

/*
#introduction hr:after {
 content: "</>"; 
  display: inline-block; 
  position: relative; 
  top: -0.7em; 
  font-size: 3em; 
  padding: 0 0.25em; 
  background: rgba(51,51,51,.9)
}
*/

#introduction {
 overflow: hidden; 
 margin: auto;
 border-radius: 10px;
 padding: 0% 1% 0% 1%;
 min-height: 700px;
}

.aboutme {
 z-index: -1;   
}

.aboutme img {
 position: absolute;   
}

#top h1 {
  text-align: center;
 color: #4ba6b5;
}

.aboutme h3 {
 display: block;
 margin: auto;
}

.aboutme img {
 display: block;
 margin: auto;   
}

.intro {
 font-size: 3em;
 color: #fee822;
 text-align: center;
}

.intro .fa {
 color: #4ba6b5;
}

.centerName {
  color: #FFFFFF;
  text-align: center;
  margin: 5%;
}

#bottom {
  padding-bottom: 5%;
  padding-top: 10%;
  color: #FFFFFF;
  overflow: hidden;
}
.contact {
  margin: auto;
}

.bottomName {
  font-size: 3em;
  text-align: center;
  padding-bottom: 5%;
 color: #4ba6b5;
}
.social {
 background-color: #000000;
 border: solid #000000 3px;
 border-radius: 10px;
 min-height: 100%;
 margin-bottom: 2%;
 display: block;
 text-align: center;
}

.social h3 {
 margin-bottom: 15%;
 padding: 0% 1% 0% 1%;
 color: rgba(255,255,255,.6);
}

.buttons {  
 text-align: center;
 margin-bottom: 2%;
}

.buttons .fa {
 font-size: 3em;
 color: rgba(255,255,255,.6);
}

.buttons .fa:hover {
 color:  #333;
}

.comform {
 text-align: left;
 margin-bottom: 2%;
}

.conform input {
 color: #FFFFFF;
 background-color: #000000;
 border: solid #000000 3px; 
}

 .conform textarea {
 color: #FFFFFF;  
 background-color: #000000;
 border: solid #000000 3px; 
}

.fa {
  color: #FFFFFF;
}

#canyonedge {
  border: solid #FFFFFF 3px;

}

#chaffey a {
  text-decoration: none;
    color: #4ba6b5;
}

#chaffey a:hover {
 color: #000000;   
}

#poly a {
 text-decoration: none; 
    color: #4ba6b5;
}

#poly a:hover {
 color: #000000;   
}

#poly h2,
#poly h3,
#chaffey h3,
#chaffey h3 {
 color: #4ba6b5;
}

.jobs h2,
.jobs h3 {
 color: #4ba6b5;
}

#directvdicv {
 margin-top: 5%;   
}

.divtittle {
 text-align: center;   
}

.pod {
 border-bottom: solid #FFFFFF 3px;   
}

.podcast h2 {
 color: #4ba6b5;
}

.photograph {
  overflow: hidden;
}

.unit {
  overflow: hidden;
  z-index: -1;
}

.unit img {
 margin-top: 2%;
}

.display {
    -webkit-transform: translate(0%,0%); /* Safari and Chrome */
    -moz-transform: translate(0%,0%); /* Firefox */
    -ms-transform: translate(0%,0%); /* IE 9 */
    -o-transform: translate(0%,0%); /* Opera */
    transform: translate(0%,0%);
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.image img:hover {
     z-index: 101;
     max-width: 200%
    -webkit-transform:scale(2); /* Safari and Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
     transform:scale(2);
}

.image img:hover .img-responsive {
   max-width: 200%;
   max-height: 200%;
}

.carousel .item img {
  max-width: 600px;
  min-width: auto;
}

.carousel a {
 color: #fee822;
}

.carousel a:hover {
 color: #000;
}

#back {
 right: 0px;
 bottom: 0px;   
 position: fixed;
 color: #000000;
}

.clickup {
 font-size: 3em;
}

.clickup a:hover {
 text-decoration: none;
 color: #000;
}

.clickup a:visited {
 text-decoration: none;
 color: #FFF;
}

body {
  position: relative;
  /*   background-color: #1e262c;  */ 
  background-color: #333;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #FFFFFF;
}

#footer {
   background: #556d7c;
    background: -webkit-linear-gradient(#556d7c, #404040); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#556d7c, #404040); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#556d7c, #404040); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#556d7c, #404040); /* Standard syntax */ 
  color: #FFFFFF;
  padding: 1%;
}


