body {
    background-position: center 0;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
}


.time {
   
}

.weather img {
    margin: -20px 0px -20px 0px;
}

.welcome {
    margin: auto;
    max-width: 400px;
    font-size: 3em;
}

.search {
    max-width: 400px;
    margin: auto;
}

input {
    color: #FFF;
    width: 100%;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #FFF;
}

.search button {
    color: #FFF;
    float: right;
    font-size: 2em;
    background-color: transparent;
    border: none;
   
}

.editor {
    position: absolute;
    bottom: 0;
}

.editor button {
    font-weight: bolder;
    color: #FFF;
    background-color: transparent;
    border: none;
    
}

.colors {
    display: none;
    width: 45px;
    height: 160px;
    background-color:  rgba(0, 0, 0, 0.6);;
}

.choice {
    margin: 10px auto;
    width: 30px;
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 50%;
}

.white {
    background-color: #FFF;
}

.black {
    background-color: #000;
}

.blue {
  background-color: darkblue;  
}

.yellow {
    background-color: chartreuse;
}

.hide {
    display: none;
}